# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

+ List of popular languages for Data Scientist
+ List of libraries used by Data Scientist
+ list of open source softwares used by Data Scientist

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SCALA
4. JAVA
5. Julia
6. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. keras
5. scipy

|Data Science Tools|
|------------------|
|Juypter|
|Rstudio|
|VS code|

#### Below are a few examples of evaluating arithmetic expressions in Python

 This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [2]:
200/60

3.3333333333333335

## Author ##

#### Madhu Kumar ####